* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik";
}
/* first section */
.top_section {
  width: 100%;
  max-height: fit-content;
  background: #973f84;
  color: white;
  border-radius: 0 0 10px 10px;
}
.flexing {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.title_lelo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_lelo > h2 {
  font-weight: 550;
  font-size: 24px;
}
.manage {
  width: 80px;
  height: 30px;
  font-size: 10px !important;
  margin: 10px;
}
/* second section */
.prevention {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
}
.title {

  font-weight: 500;
  color: #0d1333;
  margin-left: 20px;
}
.image_prevention{
    height: 100%;

}

.instruction {
  font-size: 14px;
  font-family: bold;
  color: #0d1333;
  width: 120px;
  margin: 7px;
  height: 36px;
  text-align: center;
  line-height: 1;
}
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 3 */

.Statistics {
  color: #0d1333;
}
#sts {
  display: flex;
  justify-content: center;
}

/* mainPart */

.basic {
  width: 135px;
  height: 70px;
  color: white;
   padding-left: 10px;
  padding-top: 5px; 
  font-size: 14px;
  
}
#affected {
  background: #ffb259;
  border-radius: 8px;
}
.dataCovid {
  font-weight: bold;
  margin-top: -10px;
}
#death {
  background: #ff5959;
  border-radius: 8px;
}
#recovered {
  background: #4cd97b;
  border-radius: 8px;
}
#active {
  background: #4db5ff;
  border-radius: 8px;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.faq > img {
  height: 100px;
}


@media screen and (max-width:700px){
    #sts{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:580px){
    .image_prevention{
      height: 100px;
    }
    .instruction{
        width: 90px;
    }
}
